<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cook Homepage</title>
</head>

<body>
<div class = "logout button" align = "right"> <!-- logout-->
    <a href="cook.html">Logout</a> <p1>&nbsp</p1>
</div>

<div class = "logo"> <!-- logo-->
    <p1>&nbsp</p1>
    <a href="cook.html">
        <img src="http://homecookingadventure.com/images/recipes/Chocolate_Mirror_Cake_main.jpg" alt="logo" style="width:60px;height:60px;border:0;">
    </a>
</div>

<div class = "options" align = "right"> <!-- link (pending)-->
    <a href="CookCustOrder.html">My Customer Orders</a> <p1>&nbsp</p1>   <!--orders from customers listed here-->
    <a href="MenuPrices.html">Menu and Prices</a> <p1>&nbsp</p1>      <!--cooks can set menu and item price here-->

</div>

<div class = "welcome" align = "left"> <!--welcome message-->
    <h2> Welcome Cook!</h2>
</div>

</body>
</html>