<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Order - Cook</title>
    <!-- for table-->
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>

<div class = "logout button" align = "right"> <!-- logout-->
    <a href="cook.html">Logout</a> <p1>&nbsp</p1>
</div>

<div class = "logo"> <!-- logo-->
    <p1>&nbsp</p1>
    <a href="cook.html">
        <img src="http://homecookingadventure.com/images/recipes/Chocolate_Mirror_Cake_main.jpg" alt="logo" style="width:60px;height:60px;border:0;">
    </a>
</div>

<div class = "options" align = "right"> <!-- link (pending)-->
    <a href="CookCustOrder.html">My Customer Orders</a> <p1>&nbsp</p1>   <!--orders from customers, including drop table listed here-->
    <a href="MenuPrices.html">Menu and Prices</a> <p1>&nbsp</p1>      <!--cooks can set menu and item price here-->
</div>

<div class = "welcome" align = "left"> <!--welcome message-->
    <h2> Welcome Cook!</h2>
    <h4 align = "left">Your EmployeeID is:</h4>
</div>

<div class = "Current Menu">
    <h3 align = "center">Menu & Price</h3>
    <a href="MenuPrices.html" >Add</a> <p1>&nbsp</p1>
    <a href="MenuPrices.html" >Drop</a> <p1>&nbsp</p1>
    <a href="MenuPrices.html" >Modify</a> <p1>&nbsp</p1>
    <br></br>
    <table>
        <tr>
            <th>Cake</th>
            <th>CakeID</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>/</td>
            <td>/</td>
            <td>/</td>
        </tr>
          <tr>
            <td>/</td>
            <td>/</td>
            <td>/</td>
        </tr>
</table>
</div>

<br></br>
<br></br>




</body>
</html>