<!DOCTYPE html>
<html>
<title>Cake</title>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	{% if title %}
	<title>{{ title }} - Cake</title>
	{% else %}
	<title>Welcome - Cake</title>
	{% endif %}


</head>
<body>
		<div class = "options" align = "right">
		{% if current_user.urole == 4 and current_user.is_authenticated %}
			<a href="{{ url_for('complaints')}}">Complaints</a>
			<a href="{{ url_for('payroll')}}">Payrolls</a>
		
		{% elif current_user.urole == 3 and current_user.is_authenticated %}
			<a href="{{ url_for('prices')}}">Prices</a>		
			<a href="{{ url_for('cookcustorder')}}">My Customer Orders</a>	

		{% elif current_user.urole == 2 and current_user.is_authenticated %}
			<a href="{{ url_for('map')}}">Map</a>				

		{% else %}
			<a href="{{ url_for('index')}}">Home</a>

		{% endif %}

			<a href="{{ url_for('menu')}}">Menu</a>

		{% if current_user.is_anonymous %}
			<a href="{{ url_for('login')}}">Login</a>

		{% else %}
			<a href="{{ url_for('user',username=current_user.username) }}">Profile</a>
			<a href="{{ url_for('logout')}}">Logout</a>

		{% endif %}

		</div>
		<div class = "logo"> <!-- logo-->
    		
    		{% if current_user.urole == 4 and current_user.is_authenticated %}
				<a href="{{ url_for('manager')}}"><img src="http://homecookingadventure.com/images/recipes/Chocolate_Mirror_Cake_main.jpg" alt="logo" style="width:60px;height:60px;border:0;"></a>
		
			{% elif current_user.urole == 3 and current_user.is_authenticated %}
				<a href="{{ url_for('cook')}}"><img src="http://homecookingadventure.com/images/recipes/Chocolate_Mirror_Cake_main.jpg" alt="logo" style="width:60px;height:60px;border:0;"></a>	

			{% elif current_user.urole == 2 and current_user.is_authenticated %}
				<a href="{{ url_for('delivery')}}"><img src="http://homecookingadventure.com/images/recipes/Chocolate_Mirror_Cake_main.jpg" alt="logo" style="width:60px;height:60px;border:0;"></a>		

			{% else %}
				<a href="{{ url_for('index')}}"><img src="http://homecookingadventure.com/images/recipes/Chocolate_Mirror_Cake_main.jpg" alt="logo" style="width:60px;height:60px;border:0;"></a>

			{% endif %}
    			
    	</div>

	<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
	<ul>
		{% for message in messages %}
		<li>
			{{ message }}
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

	{% block content %}
	{% endblock %}

</body>
</html>