{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/menu.css')}}">

					<div class="row">		
						<h1>Cakes</h1>

						<div class="cake">
							<a target="_blank" href="{{ url_for('login') }}">
								<img src="{{ url_for('static', filename='img/greentea_crepe.jpg') }}" alt="greentea crepe cake" width="300px" height="200">
								<div class="desc">Green Tea Crepe Cake <br>$80 </div></a>
						</div> 

						<div class="cake">
							<a target="_blank" href="{{ url_for('login') }}">
								<img src="{{ url_for('static', filename='img/mango_crepe.jpg') }}" alt="mango crepe cake" width="300px" height="200">
								<div class="desc">Mango Crepe Cake <br>$80 </div></a>
						</div> 

						<div class="cake">
							<a target="_blank" href="{{ url_for('login') }}">
								<img src="{{ url_for('static', filename='img/greentea_crepe.jpg') }}" alt="greentea crepe cake" width="300px" height="200">
								<div class="desc">Green Tea Crepe Cake <br>$80 </div></a>
						</div> 

						<div class="cake">
							<a target="_blank" href="{{ url_for('login') }}">
								<img src="{{ url_for('static', filename='img/mango_crepe.jpg') }}" alt="mango crepe cake" width="300px" height="200">
								<div class="desc">Mango Crepe Cake <br>$80 </div></a>
						</div> 
					</div>

					<div class="row">		
						<h1>Cakes2</h1>

						<div class="cake">
							<a target="_blank" href="{{ url_for('login') }}">
								<img src="{{ url_for('static', filename='img/greentea_crepe.jpg') }}" alt="greentea crepe cake" width="300px" height="200">
								<div class="desc">Green Tea Crepe Cake <br>$80 </div></a>
						</div> 

						<div class="cake">
							<a target="_blank" href="{{ url_for('login') }}">
								<img src="{{ url_for('static', filename='img/mango_crepe.jpg') }}" alt="mango crepe cake" width="300px" height="200">
								<div class="desc">Mango Crepe Cake <br>$80 </div></a>
						</div>

						<div class="cake">
							<a target="_blank" href="{{ url_for('login') }}">
								<img src="{{ url_for('static', filename='img/greentea_crepe.jpg') }}" alt="greentea crepe cake" width="300px" height="200">
								<div class="desc">Green Tea Crepe Cake <br>$80 </div></a>
						</div> 

						<div class="cake">
							<a target="_blank" href="{{ url_for('login') }}">
								<img src="{{ url_for('static', filename='img/mango_crepe.jpg') }}" alt="mango crepe cake" width="300px" height="200">
								<div class="desc">Mango Crepe Cake <br>$80 </div></a>
						</div>
					</div>
{% endblock %}

