{% extends "base.html" %}

{% block content %}
	<table>
		<tr valign="top">

			<td>
				<h1>User: {{ user.username }}</h1>
				{% if user.about_me %} 
					<p>{{ user.about_me }}</p>
				{% endif %}
				{% if user.last_seen %}
					<p>Last seen on: {{ user.last_seen }}</p>
				{% endif %}
				{% if user == current_user %}
					<p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
				{% endif %}
				<p>Vip and registered's rating will be here, but will be our last thing</p>
			</td>
		</tr>
	</table>
	<br/>
	<body>
		<b>History</b>
		<p>History of what they eaten before will display here</p>
	</body>
	

{% endblock %}